@font-face {
  font-family: dotty;
  src: url(dotty/dotty.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dotty;
}
::selection {
  background-color: transparent;
}
body {
  min-height: 100vh;
  background-color: #28104e;
}
header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #28104e;
  color: #deacf5;
  font-size: 38px;
  width: 100vw;
  height: 100px;
  padding: 20px;
  z-index: 10;
}
header ul li {
  display: inline-block;
  padding: 10px 20px;
  list-style: none;
  font-size: 32px;
  cursor: pointer;
}
.default {
  color: #9754cb;
}
.default:hover {
  background-color: #9754cb;
  color: #28104e;
}
.grayscale {
  color: rgb(207, 207, 207);
}
.grayscale:hover {
  background-color: rgb(207, 207, 207);
  color: #28104e;
}
.jazzy {
  color: greenyellow;
}
.jazzy:hover {
  background-color: greenyellow;
  color: #28104e;
}
.eraser,
.clear {
  color: white;
}
.eraser:hover,
.clear:hover {
  color: #28104e;
  background-color: white;
}
header h1 {
  font-family: dotty;
  font-size: 5rem;
  letter-spacing: 0px;
  color: #deacf5;
}
.container {
  position: absolute;
  top: 100px;
  display: flex;
  width: max-content;
  height: max-content;
}
.control-panel {
  background-color: #9754cb;
  min-width: 100vw;
  height: 100px;
  border-radius: 4px;
}
.grid {
  height: 100vw;
  width: 100vw;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  overflow: hidden;
}
.container .cell {
  background-color: white;
}
.container .cell:hover {
  box-shadow: inset 0 0 40px black;
}
